@import "fonts";
@import "colors";
@import "button";
@import "search";
@import "nav";
@import "sectionwhy";
@import "sectionvilla";
@import "sectionlocation";
@import "sectionreviews";

body {
  font-family: $main-font;
  color: $title-color;
}

// LANDING SECTION ///

.container {
  max-width: 100vw;
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.title {
  h1 {
    color: $title-color;

    font-weight: 700;
    font-size: 3rem;
    line-height: 1.6rem;
    letter-spacing: 4.8px;
    margin-bottom: 0.2rem;
  }

  h3 {
    color: $title-color;

    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.6rem;
    letter-spacing: 6.82px;
  }
}

/// CASCADING BACKGROUND IMAGES ///

.section {
    background-image: url("../images/landing-landscape.jpg");
    background-size: cover;
    background-position: center;
    display: block;

    &-why {
        background-image: url("../images/why.jpg");
        background-size: cover;
        background-position: center;
        display: block;
    }

    &-villa {
        background-image: url("../images/villa.jpg");
        background-size: cover;
        background-position: center;
        display: block;
    }

    &-location {
        background-image: url("../images/sunset.jpg");
        background-size: cover;
        background-position: center;
        display: block;
    }

    &-reviews {
        background-image: url("../images/hiking-footer.jpg");
        background-size: cover;
        background-position: center;
        display: block;
    }
}
